[tool.flake8]
exclude = [".direnv", "__pycache__"]

[tool.poetry]
name = "plur"
version = "0.2.0"
description = "Simple language universal pluralizer"
authors = ["Tom Ritchford <tom@swirly.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
flake8-pyproject = "^1.2.0"


[tool.poetry.group.dev.dependencies]
flake8 = "^5.0.4"
pytest = "^7.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
